.home {
    .content {
        h3 {
            @media screen and (max-width: 800px) {
                margin-left: 50px;
                margin-right: 50px;
                font-size: 40px;
            }

            @media screen and (max-width: 570px) {
            margin-left: 20px;
            margin-right: 20px;
            }
        }
        p {

            @media screen and (max-width: 800px) {
                margin-left: 50px;
                margin-right: 50px;
            }
    
            @media screen and (max-width: 570px) {
            margin-left: 20px;
            margin-right: 20px;
            text-align: justify;
            }
        }
    }
}
@media screen and (max-width: 799px) {
    .home-section {
    height: map-get($alto, vh2);
    }

    @media screen and (max-width: 550px) {
        .home-section {
            height: map-get($alto, vh1);
        } 
    }
}

.aboutus {
    .row2 {
        .right {
            @media (max-width: 768px){
                    padding: 10px;
            }
        }
        @media (max-width: 768px){
                width: 90%;
                grid-template-columns: 1fr;
        }
    }
}
.testimonials {
    .row1 {
        .col1 {
            @media screen and (max-width: 960px) {
                flex: 100%;
                max-width: 80%;
            }
            @media screen and (max-width: 600px) {
                flex: 100%;
                max-width: 100%;
            }
        }
    }
    
}