%display{
    display: flex;
    justify-content: center;
    align-items: center;
}
%font-manrope{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}
%font-playfair{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}